<div fxLayout="column" fxFlex="100">
  <ng-container *ngIf="showBreadcrumbs">
    <div fxLayout="row" fxFlex="100" class="w-full">
      <div class="hidden sm:flex flex-wrap items-center min-h-8 text-xs font-normal" *ngFor="let item of breadcrumbs; let i = index; ">

        <div *ngIf=" i===0; else itemWithTemplateBread" class="ml-6">
          <a class="whitespace-nowrap decent-text-primary">{{item}}</a>
        </div>

        <ng-template #itemWithTemplateBread>
          <div class="flex items-center ml-2 whitespace-nowrap">
            <mat-icon class="icon-size-4 decent-text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
            </mat-icon>
            <a class="ml-2"
              [ngClass]="(i==breadcrumbs.length-1) ? 'decent-text-secondary' : 'decent-text-primary'">{{item}}</a>
          </div>
        </ng-template>

      </div>
    </div>
  </ng-container>



  <div class="header min-h-26" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start start" fxFlex="100"
    fxLayoutAlign="space-between center">
    <div fxFlex="auto" fxFlex.lt-md="100" *ngIf="hasbackBtn || title">
      <div class="flex mt-2 md:mt-0">
        <mat-icon class="cursor-pointer text-blue-600 ml-3 mt-2" *ngIf="hasbackBtn"
          [svgIcon]="'heroicons_outline:arrow-left'" (click)="onClickBack()"></mat-icon>
        <h2 class="font-semibold md:text-2xl text-lg pt-2 md:pt-1 ml-2">{{title}}</h2>
      </div>
    </div>
    <div fxFlex="auto" fxFlex.lt-md="100" class="text-right ml-5 md:ml-0 md:mb-0 mb-2 md:mr-5 content-area">
      <ng-content #buttons></ng-content>
    </div>
  </div>
</div>