<div
  style="background: white"
  class="w-full"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <div
    style="
      width: 528px;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      padding: 64px;
    "
    fxLayout="column" fxLayoutGap="64px"
  >
    <div>
      <img
        src="assets/images/logo/logo-black-text.svg"
        class="w-36 block m-auto ng-tns-c322-0"
      />
    </div>
    <div fxLayout="column" fxLayoutGap="40px">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
        <h1 style="color: #212121; font-weight: 700; font-size: 24px">
          Hello !
        </h1>
        <h3 style="font-weight: 400; font-size: 14px; color: #616161">
          To continue, first verify it’s you
        </h3>
      </div>

      <div fxLayout="column" fxLayoutGap="40px">
        <div fxLayout="column" fxLayoutGap="16px">
          <mat-form-field
            class="w-full"
          >
            <mat-label>Password</mat-label>
            <input id="name" matInput placeholder="Enter your password" [(ngModel)]="password" />
            <button matSuffix mat-icon-button><mat-icon>visibility</mat-icon></button>
          </mat-form-field>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="24px"
          >
            <button mat-stroked-button class="list-download" fxFlex="50"  (click)="onCancelClick()">
              
              <span style="color: #212121; font-size: 14px; font-weight: 600"
                >Cancel</span
              >
            </button>
            <button mat-button class="download-btn" fxFlex="50" (click)="onNextClick()">
              <span style="color: #212121; font-size: 14px; font-weight: 600"
                >Next</span
              >
            </button>
          </div>
        </div>

        <div class="inline-flex items-end justify-center w-full">
          <a
            class="text-md font-medium text-center text-primary-700 hover:underline"
            [routerLink]="['/forgot-password']"
            >Forgot password?
          </a>
        </div>
      </div>
      <div class="flex justify-center">
        <mat-button-toggle-group name="language" aria-label="language">
          <mat-button-toggle value="en">EN</mat-button-toggle>
          <mat-button-toggle value="de">DE</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>
