:host ::ng-deep.mat-button.download-btn {
    background: #f7dd00;
    padding: 13px 15px;
    min-width: 152px;
  }

  :host ::ng-deep.mat-stroked-button.list-download{
    background: #FEFFE7;
    border-color: #f7dd00 !important;
  }